.header_block{
  border-bottom: thick double #47b0d9;
}
.header_container {
  margin: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo_link {
  text-decoration: none;
}

.header_logo {
  padding: 15px;
  width: 250px;
  font-size: 24px;
  font-weight: 700;
  color: #e5f7f8;
  background-color: #8400ff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 7px 12px 2px #c3b8ef;
  transition: background-color linear .3s,box-shadow linear .3s;
}

.header_logo:hover {
  cursor: pointer;
  background-color: #40d1f1;
  box-shadow: 7px 3px 2px #b8efed;
}